<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Arboleda / Full Stack Web Developer</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.5/swiper-bundle.css">
    <link rel="stylesheet" href="/css/slider.css">
</head>

<body>

    <div class="banner">
        <nav class="header">
            <input type="checkbox" name="" id="chk1">
            <div class="logo">
                <img src="/img/logo.png" width="150" alt="">
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <a href="https://www.linkedin.com/in/danielarboleda"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/DanielArboledaT"><i class="fa-brands fa-github"></i></a>
                </li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa-solid fa-bars"></i>
                </label>
            </div>


        </nav>

        <div class="title-header">
            <img src="/img/Yo.jpg" width="200" alt="">
            <div>
                <h1> Hi!</h1>
                <h1><strong>I'm Daniel Arboleda Tamayo</strong></h1>
                <h1>Full Stack Web Developer</h1>
            </div>

        </div>

    </div>

    <div class="about">
        <div class="about-container">
            <h2>About</h2>
            <p>
                Hi!, I am Daniel Arboleda Tamayo, I am a computer engineer and i've been working as full stack web
                developer for 3 years with exprience in multiple
                plataforms and programming languages, I'm looking for a full time position where i can apply my
                knowledge anh skills and continue improving.
            </p>
            <h2>My skills</h2>

            <div class="card-container">
                <div class="box">
                    <i class="lni lni-html5"></i>
                    <h5>HTML</h5>
                    <h4>HTML</h4>
                </div>
                <div class="box">
                    <i class="lni lni-css3"></i>
                    <h5>CSS</h5>
                    <h4>CSS</h4>
                </div>
                <div class="box">
                    <i class="lni lni-javascript"></i>
                    <h5>JAVASCRIPT</h5>
                    <h4>JAVASCRIPT</h4>
                </div>
                <div class="box">
                    <i class="lni lni-angular"></i>
                    <h5>ANGULAR</h5>
                    <h4>ANGULAR</h4>
                </div>
                <div class="box">
                    <i class="lni lni-java"></i>
                    <h5>JAVA</h5>
                    <h4>JAVA</h4>
                </div>
                <div class="box">
                    <i class="lni lni-sprout"></i>
                    <h5>SPRING BOOT</h5>
                    <h4>SPRING BOOT</h4>
                </div>
                <div class="box">
                    <i class="lni lni-python"></i>
                    <h5>PYTHON</h5>
                    <h4>PYTHON</h4>
                </div>
                <div class="box">
                    <i class="lni lni-git"></i>
                    <h5>GIT</h5>
                    <h4>GIT</h4>
                </div>
                <div class="box">
                    <i class="lni lni-docker"></i>
                    <h5>DOCKER</h5>
                    <h4>DOCKER</h4>
                </div>
                <div class="box">
                    <i class="lni lni-aws"></i>
                    <h5>AWS</h5>
                    <h4>AWS</h4>
                </div>
                <div class="box">
                    <i class="lni lni-cloud"></i>
                    <h5>Google cloud plataform</h5>
                    <h4>Google cloud plataform</h4>
                </div>
                <div class="box">
                    <i class="lni lni-database"></i>
                    <h5>SQL</h5>
                    <h4>SQL</h4>
                </div>
            </div>
            <br>
            <a href="https://github.com/DanielArboledaT/FinaktivaFront" class="blog-slider__button">Download CV</a>

        </div>


        <div class="portfolio">

            <div>
                <h2>Protfolio</h2>
                <p>
                    Here you can see the projects I've worked on
                </p>
            </div>
            

            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">

                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="/img/finaktiva-back.png"
                                alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">Back-end security login - java (springboot)</span>
                            <div class="blog-slider__title">Security login java</div>
                            <div class="blog-slider__text">This is a backend project where I customize the login by user roles thanks to a token and using springboot and jwt </div>
                            <a href="https://github.com/DanielArboledaT/FinaktivaBackend" class="blog-slider__button">GET CODE</a>
                        </div>
                    </div>

                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="/img/finaktiva-front.png"
                                alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">Front-end security login - Angular 10</span>
                            <div class="blog-slider__title">Login security angular</div>
                            <div class="blog-slider__text">This project corresponds to the complement of the project backen security project</div>
                            <a href="https://github.com/DanielArboledaT/FinaktivaFront" class="blog-slider__button">GET CODE</a>
                        </div>
                    </div>

                </div>
                <div class="blog-slider__pagination"></div>
            </div>

        </div>

        <div class="contact">

            <h2>Daniel Arboleda Tamayo</h2>
            <p>If you are interested in my work and want to contact me, you can contact me on the following social networks</p>

            <div class="wrapper">
                <a href="https://github.com/DanielArboledaT" class="icon-social">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/danielarboleda" class="icon-social">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </div>

        </div>


    </div>

    <script text="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.5/swiper-bundle.min.js"></script>
    <script text="text/javascript" src="/js/main.js"></script>
</body>

</html>