<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Arboleda / Desarrollador Full Stack</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.5/swiper-bundle.css">
    <link rel="stylesheet" href="/css/slider.css">


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">

</head>

<body>

    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav_logo">Daniel</a>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list grid">
                    <li class="nav_item">
                        <a href="#" id="home" class="nav_link">
                            <i class="fa-solid fa-house nav_icon"></i> Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#about" class="nav_link">
                            <i class="fa-solid fa-user nav_icon"></i> About
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#skills" class="nav_link">
                            <i class="fa-solid fa-file-lines nav_icon"></i> Skills
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#portfolio" class="nav_link">
                            <i class="fa-solid fa-briefcase nav_icon"></i>  Portfolio
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="#contact" class="nav_link">
                            <i class="fa-solid fa-paper-plane nav_icon"></i> Contact
                        </a>
                    </li>
                </ul>
                <i class="fa-solid fa-xmark nav_close" id="nav-close"></i>
            </div>

            <div class="nav_btns">

                <i class="fa-regular fa-moon change-theme" id="theme-button"></i>

                <div class="nav_toggle" id="nav-toggle">
                    <i class="fa-solid fa-align-center"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">

        <section class="home section" id="home">
            <div class="home_container container grid">
                <div class="home_content grid">

                    <div class="home_social">
                        <a href="https://www.linkedin.com/in/danielarboleda" class="home_social-icon" target="_blank">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com/DanielArboledaT" class="home_social-icon" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>

                    <div class="home_img">
                        <img src="/img/me-home.png" alt="">
                    </div>

                    <div class="home_data">
                        <h1 class="home_title"> Hi!, I'am Daniel </h1>
                        <h3 class="home_subtitle">Full Stack developer</h3>
                        <p class="home_description">
                            I love software development and I'm always looking for new challenges and learning new things.</p>
                        <a href="#contact" class="button button--flex">
                            Contact Me <i class="fa-solid fa-comment button_icon"></i>
                        </a>
                    </div>

                </div>
                
                <div class="home_scroll">
                    <a href="#about" class="home_scroll-button button--flex">
                        <i class="lni lni-mouse home_scroll-mouse"></i>
                        <span class="home_scroll-name">Scroll down</span>
                        <i class="fa-solid fa-arrow-down home_scroll-arrow"></i>
                    </a>
                </div>

            </div>
        </section>

        <section class="about section" id="about">
            <h2 class="section_title">About Me</h2>
            <span class="section_subtitle">My introduction</span>

            <div class="about_container container grid">
                <img src="/img/yo.jpg" alt="" class="about_img">

                <div class="about_data">
                    <p class="about_description">
                        I've been working as a full-sack developer for three years, which have been the most amazing and most productive of my life.
                    </p>
                    <div class="about_info">
                        <div>
                            <span class="about_info-title">03+</span>
                            <span class="about_info-name">Years <br> experience</span>
                        </div>

                        <div>
                            <span class="about_info-title">10+</span>
                            <span class="about_info-name">Completed <br> projects</span>
                        </div>

                        <div>
                            <span class="about_info-title">03+</span>
                            <span class="about_info-name">Companies <br> worked</span>
                        </div>
                    </div>

                    <div class="about_buttons">
                        <a download="" href="/pdf/My-cv.pdf" class="button button--flex">
                            Download CV<i class="lni lni-download button_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="skills section" id="skills">
            <h2 class="section_title">Skills</h2>
            <span class="section_subtitle">My technical level</span>

            <div class="skills_container container grid">
                <div>

                    <div class="skills_content skills_open">
                        <div class="skills_header">
                            <i class="fa-solid fa-code skills_icon"></i>

                            <div>
                                <h1 class="skills_title">Frontend developer</h1>
                                <span class="skills_subtitle">More than 3 years</span>
                            </div>

                            <i class="fa-solid fa-angle-down skills_arrow"></i>
                        </div>

                        <div class="skills_list grid">
                            <div>
                                <i style="color: #e54c21;" class="lni lni-html5"></i>
                                <p>HTML5</p>
                            </div>
                            <div>
                                <i style="color: #254bdd;" class="lni lni-css3"></i>
                                <p>HTML5</p>
                            </div>
                            <div>
                                <i style="color: #efd81c;" class="lni lni-javascript"></i>
                                <p>JAVASCRIPT</p>
                            </div>
                            <div>
                                <i style="color: #d82d2f;" class="lni lni-angular"></i>
                                <p>ANGULAR</p>
                            </div>
                        </div>
                    </div>

                    <div class="skills_content skills_close">
                        <div class="skills_header">
                            <i class="fa-solid fa-server skills_icon"></i>

                            <div>
                                <h1 class="skills_title">Backend developer</h1>
                                <span class="skills_subtitle">More than 3 years</span>
                            </div>

                            <i class="fa-solid fa-angle-down skills_arrow"></i>
                        </div>

                        <div class="skills_list grid">
                            <div>
                                <i style="color: #d54e2b;" class="lni lni-java"></i>
                                <p>JAVA</p>
                            </div>
                            <div>
                                <i style="color: #65b743;" class="lni lni-sprout"></i>
                                <p>SPRING BOOT</p>
                            </div>
                            <div>
                                <i style="color: #f7cb2e;" class="lni lni-python"></i>
                                <p>PYTHON</p>
                            </div>
                            <div>
                                <i style="color: #006ec0;" class="lni lni-database"></i>
                                <p>SQL/PLSQL</p>
                            </div>
                        </div>
                    </div>

                    <div class="skills_content skills_close">
                        <div class="skills_header">
                            <i class="lni lni-cloud skills_icon"></i>

                            <div>
                                <h1 class="skills_title">Cloud services</h1>
                                <span class="skills_subtitle">More than 1 year</span>
                            </div>

                            <i class="fa-solid fa-angle-down skills_arrow"></i>
                        </div>

                        <div class="skills_list grid">
                            <div>
                                <i style="color: #f79300;" class="lni lni-aws"></i>
                                <p>AWS</p>
                            </div>
                            <div>
                                <i style="color: #32a350;"  class="lni lni-cloud"></i>
                                <p>GCP</p>
                            </div>
                        </div>
                    </div>

                    <div class="skills_content skills_close">
                        <div class="skills_header">
                            <i class="lni lni-circle-plus skills_icon"></i>

                            <div>
                                <h1 class="skills_title">Extra knowledge</h1>
                                <span class="skills_subtitle">More than 3 years</span>
                            </div>

                            <i class="fa-solid fa-angle-down skills_arrow"></i>
                        </div>

                        <div class="skills_list grid">
                            <div>
                                <i style="color: #eb4d28;" class="lni lni-git"></i>
                                <p>GIT</p>
                            </div>
                            <div>
                                <i style="color: #119ad4;" class="lni lni-docker"></i>
                                <p>DOCKER</p>
                            </div>
                            <div>
                                <i style="color: #f76801;" class="fa-brands fa-linux"></i>
                                <p>LINUX</p>
                            </div>
                            <div>
                                <i style="color: #f7c52a;" class="fa-solid fa-fire"></i>
                                <p>FIREBASE</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="portfolio section" id="portfolio">
            <h2 class="section_title">Portfolio</h2>
            <span class="section_subtitle">Most recent work</span>

            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
    
                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="/img/finaktiva-back.png" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">Back-end security login - java (springboot)</span>
                            <div class="blog-slider__title">Security login java</div>
                            <div class="blog-slider__text">This is a backend project where I customize login by roles 
                                thanks to a token and using springboot and jwt. </div>
                            <a href="https://github.com/DanielArboledaT/finaktiva-backend" class="button button--flex"><i style="margin-right: 5px;" class="lni lni-code-alt"></i> GET
                                CODE</a>
                        </div>
                    </div>
    
                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="/img/finaktiva-front.png" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">Front-end security login - Angular 10</span>
                            <div class="blog-slider__title">Login security angular</div>
                            <div class="blog-slider__text">This project corresponds to the complement of the project Back-end security login.</div>
                            <a href="https://github.com/DanielArboledaT/finaktiva-front" class="button button--flex"><i style="margin-right: 5px;" class="lni lni-code-alt"></i> GET
                                CODE</a>
                        </div>
                    </div>

                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="/img/finaktiva-back.png" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">Back-end  credibanco - java (springboot)</span>
                            <div class="blog-slider__title">Credibanco transactions</div>
                            <div class="blog-slider__text">This project is a credit card and transaction manager.</div>
                            <a href="https://github.com/DanielArboledaT/credibanco" class="button button--flex"><i style="margin-right: 5px;" class="lni lni-code-alt"></i> GET
                                CODE</a>
                        </div>
                    </div>

                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="/img/portafolio.png" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">MY portfolio - Nodejs (Express)</span>
                            <div class="blog-slider__title">Personal portfolio </div>
                            <div class="blog-slider__text">Simple project of the page you are on.</div>
                            <a href="https://github.com/DanielArboledaT/MyPortfolio" class="button button--flex"><i style="margin-right: 5px;" class="lni lni-code-alt"></i> GET
                                CODE</a>
                        </div>
                    </div>
    
                </div>
                <div class="blog-slider__pagination"></div>
            </div>

        </section>

        <section class="contact section" id="contact">
            <h2 class="section_title">Constact Me</h2>
            <span class="section_subtitle">Get in touch</span>

            <div class="contact_container container grid">

                <div>
                    <div class="contact_information">
                        <i class="fa-solid fa-envelope contact_icon"></i>

                        <div>
                            <h3 class="contact_title">Email</h3>
                            <span class="contact_subtitle">tttdaniel.97@gmail.com</span>
                        </div>
                    </div>
                    <div class="contact_information">
                        <i class="lni lni-phone contact_icon"></i>

                        <div>
                            <h3 class="contact_title">Call me</h3>
                            <span class="contact_subtitle">(+57) 3006954640</span>
                        </div>
                    </div>
                </div>
                
                <form action="" class="contact_form grid">
                    <div class="contact_inputs grid">
                        <div class="contact_content">
                            <label for="" class="contact_label">Name</label>
                            <input type="text" class="contact_input">
                        </div>
                        <div class="contact_content">
                            <label for="" class="contact_label">Email</label>
                            <input type="email" class="contact_input">
                        </div>
                    </div>
                    <div class="contact_content">
                        <label for="" class="contact_label">Project</label>
                        <input type="text" class="contact_input">
                    </div>
                    <div class="contact_content">
                        <label for="" class="contact_label">Message</label>
                        <textarea name="" id="" cols="0" rows="7" class="contact_input"></textarea>
                    </div>
                    <div>
                        <a href="#" class="button button--flex">
                            Send message
                            <i class="fa-solid fa-comment button_icon"></i>
                        </a>
                    </div>
                </form>
            
            </div>

        </section>


    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.2.2/swiper-bundle.min.js"></script>
    <script text="text/javascript" src="/js/main.js"></script>
</body>

</html>